.status-card{
    width: 32%;
    margin-bottom: -1em;
}

@media screen and (max-width: 767px) {
    .status-card{
        width: 100%;
        margin-bottom: -1em;
    }

    .status-card:not(:first-child){
        margin-top: 10px;
    }
}