/* Debugger CSS */
.logo{
    grid-area: logo;
}
.menu-area{
    grid-area: menu-area;
}
.header{
    grid-area: header;
}
.content{
    grid-area: content;
}
.footer{
    background-color: purple;
    grid-area: footer;
}

/* Init CSS */

body {
    font-family: 'Poppins', sans-serif;
    background-color: purple;
}

.app{
    margin: 0px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 1fr 10vh;
    grid-template-areas: "logo" "header" "content" "footer";
}   